body {
    background-color: #0f0f76;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(14, 1, 1, 0.2);
    backdrop-filter: blur(10px);
    max-width: 400px;
    max-height: 600px;
    overflow-y: auto;
}



h2,label, p{
    color: white;
    margin: 8px 0;
}
form {
    display: flex;
    justify-content: center;
}
button {
 font-size: 17px;
 padding: 0.5em 2em;
 border: transparent;
 box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
 background: dodgerblue;
 color: white;
 border-radius: 4px;
}

button:hover {
 background: rgb(2,0,36);
 background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}

button:active {
 transform: translate(0em, 0.2em);
}
.search {
    
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 50%;
    margin-bottom: 15px;
    font-size: 16px;
}
.my-element {
    
    background-image: linear-gradient(#22427A, rgb(140, 140, 150));
}
#weather-icon {
    max-width: 100px;
    max-height: 100px;
    margin: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

