body {
    background-color: #AD27F5;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    max-width: 400px;
    border: 2px solid #9B16DB;
}
h2,label, p{
    color: white;
    margin: 8px 0;
}
form {
    display: flex;
    justify-content: center;
}